body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.col-xs-10 {
    background-color: #F0FFF0;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 25px;
    font-size: 4em;
}

strong {
    font-size: 1.2em;
}

em {
    font-size: 1.1em;
}

.author-name {
    font-size: 1.1em;
    color: orange;
    font-weight: bold;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

input[type="reset"] {
    background-color: grey;
    color: white;
}

input[type="text"] {
    background-color: silver;
}

.quotes {
    font-family: 'Merriweather', serif;
}
