@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Slab');
body {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background-image: url('../img/back.png');
}

h1 {
    text-align: left;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
}

h1#title {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Roboto Slab', sans-serif;
}

h2 {
    display: inline;
}

p {
    text-align: left;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    width: 600px;
    margin: 30px auto 0px auto;
}

img {
    max-width: 200px;
    max-height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

em {
    font-size: 1.4em;
    font-family: 'Roboto Slab', sans-serif;
}

iframe {
    margin-top: 10px;
}

a {
    text-decoration-style: dotted;
}

#author {
    margin-top: 10px;
    text-align: right;
}
