.form-group {
    padding-top: 15px;
}

body {
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Coustard', serif;
}

#congrats {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #6dc717;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

#points {
    font-size: 1.3em;
    font-weight: bold;
    display: inline;
}

#score {
    display: inline;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {color: #00b3e3;}
}

/* Standard syntax */
@keyframes mymove {
    50% {color: #00b3e3;}
}