body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

label {
    font-size: 1.1em;
}

th {
    text-align: center;
}
