html {
    position: relative;
    min-height: 100%;
}

body {
    background: url('img/back.jpg');
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 4px #333;
    font-family: 'Encode Sans', sans-serif;
}

header {
    text-align: center;
}

hr {
    width: 30%;
}

h1 {
    padding-top: 30px;
    font-size: 3em;
    font-family: 'Share Tech Mono', monospace;
}

nav a {
    padding: 0px 20px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
}

nav a:hover {
    color: #fe5d5d;
    text-decoration: underline;
    text-decoration-style: dotted; 
}

nav a:active {
    color: #555555;
}

#active {
        color: #fe5d5d;
    text-decoration: underline;
    text-decoration-style: dotted; 
}

section {
    max-width: 760px;
    margin: 0px auto;
}

section#main-content {
    text-align: center;
}

section#sub-content {
    padding-top: 20px;
}


section h3 {
    font-family: 'Encode Sans', sans-serif;
}

h3#first {
    margin-top: 45px;
}

img#sub-img {
    float: left;
    padding-right: 20px;
}

#source {
    color: #fe5d5d;
}

#source:hover {
    color: chartreuse;
}

#source:active {
    color: #555555;
}

.emphasize {
    color: #eee;
}

footer {
    clear: both;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom:-80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    overflow:hidden;
}

